@font-face {
    font-family: 'aircona';
    src: url('../fonts/UTM-Aircona.woff');
}

/** utility classes **/
.inline-block {
    display: inline-block;
}

body {
    font-family: Arial;
    background: #cdf6da url('../img/header-logo.png') top center repeat-x;
    color: #2834c9;
    font-size: 14px;
    line-height: 18px;
}
#header {
    text-align: center;
    background-size: cover;
    padding-bottom: 40px;
}
#logo-holder {
    display: table;
    margin-bottom: 15px;
}
#logo-holder p {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 24px;
}
#slogan {
    font-family: 'aircona';
    color: #0a6b2f;
    font-size: 33px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
#container {
    margin-top: 25px;
}

.custom-input {
    background: #0c7a33;
    color: white;
    text-align: center;
    border: 0;
    height: 30px;
    /*-webkit-box-shadow: inset 1px 10px 33px 2px rgba(13,66,85,1);*/
    /*-moz-box-shadow: inset 1px 10px 33px 2px rgba(13,66,85,1);*/
    /*box-shadow: inset 1px 10px 33px 2px rgba(13,66,85,1);*/
}
.custom-list li {
    list-style-image: url('../img/list.png');
}
.custom-list li > ul > li {
    list-style-image: none;
}
.navbar-nav {
    margin-top: 20px;
    border-bottom: 2px solid #6d9cb4;
    padding-bottom: 2px;
}
.navbar-nav li > a {
    background: #29c360;
    color: white;
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 15px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    background: #29c360;

}
.dropdown-menu {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
}
.dropdown-menu > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
/** custom box **/
.custom-box {
    background: #8be8a3;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    /*box-shadow: inset 0 0 5px #ffff45;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #ffd318;
}
.custom-box .box-header {
    background: #39d762;
    font-size: 22px;
    color: #146380;
    text-align: center;
    padding: 5px 3px;
    box-shadow: inset 0 0 5px #ffff45;
    margin-bottom: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.contact-box {
    padding: 15px 5px;
    margin: 15px 0;
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*box-shadow: 1px 1px 5px gray;*/
    border: 2px solid #ffd318;
}
#main-carousel {
    margin: 5px 0 15px;
}

.label-green {
    display: inline-block;
    background: #7de389;
    padding: .6em 2em .6em;
    margin-bottom: 5px;
    font-size: 15px;
    color: #005800;
    text-transform: uppercase;
}
.products {
    margin: 10px 0;

}
.product-holder {
    border: 2px solid #ffd318;
    background: white;
    padding: 10px 0;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.product-name {
    color: #006489;
    font-size: 18px;
}
.seemore {
    display: block;
    text-align: right;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: bold;
    color: #006489;

}
.seemore .seemore-icon {
    display: inline-block;
    width: 14px;
    height: 17px;
    background: transparent url('../img/list.png') center no-repeat;
    vertical-align: middle;
    margin: 0 3px;
}
.skype_status img{
    margin:0 !important;
    vertical-align: 0 !important;
}
#footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #29c360;
    color: white;
}


/*  utilities */
.mg-top-xs,.mg-all-xs {
    margin-top: 5px;
}
.mg-top-nm,.mg-all-nm {
    margin-top: 10px;
}
.mg-top-md,.mg-all-md {
    margin-top: 15px;
}
.mg-top-lg,.mg-all-lg {
    margin-top: 25px;
}
.mg-bottom-xs,.mg-all-xs {
    margin-bottom: 5px;
}
.mg-bottom-nm,.mg-all-nm {
    margin-bottom: 10px;
}
.mg-bottom-md,.mg-all-md {
    margin-bottom: 15px;
}
.mg-bottom-lg,.mg-all-lg {
    margin-bottom: 25px;
}
.mg-left-xs,.mg-all-xs {
    margin-left: 5px;
}
.mg-left-nm,.mg-all-nm {
    margin-left: 10px;
}
.mg-left-md,.mg-all-md {
    margin-left: 15px;
}
.mg-left-lg,.mg-all-lg {
    margin-left: 25px;
}

/* TP Added */
.list-news {
    list-style: none;
    margin: auto;
    padding: 0;
}


.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}