.optionParent
{
    font-weight:bold;
    font-style:italic;
}

.optionChild
{
    padding-left:15px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.marquee {
	margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 50s linear infinite;
}
.marquee:hover{
	animation-play-state: paused;
}